.container-faqs{
  background-color: #d2212a14;
  padding: 20px 0px 100px;
  
   
  
}
.container-faqs{
  display: grid;
  justify-content: center;
  align-items: center;
}
.title-faqs{
  margin-top: 100px;
  text-align: center;
  text-transform: none;
  color: #2B327D;
  font-size: 40px;
  
}
